<div class="card my-5">
    <div class="card-body">
      <div class="row div-search">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <input maxlength="250" width="50" class="form-control" 
            id="buscar" name="buscar" [formControl]="search"
            matInput type="text" placeholder="Buscar">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button class="btn btn-light btn-edit" mat-button 
            (click)="buscar()"
            matSuffix mat-icon-button>
            <mat-icon class="mat-icon-btn" title="Buscar">search</mat-icon>
          </button>
        </div>
      </div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contato of contatosFiltered">
            <td>{{ contato.id }}</td>
            <td>{{ contato.nome }}</td> 
            <td><a href="mailto:{{ contato.email }}">{{ contato.email }}</a></td>
            <td>{{ contato.telefone }}</td> 
            <td>
              <button id="btn_edit" mat-icon-button aria-label="edit" (click)="edit(contato)" class="btn btn-primary btn-edit">
                <mat-icon class="mat-icon-btn" title="Editar">mode_edit</mat-icon>
              </button>
              <button id="btn_delete"mat-icon-button (click)="delete(contato)" class="btn btn-danger btn-delete">
                <mat-icon class="mat-icon-btn" title="Excluir">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>